.task-card {
  height: 8.5rem;
  //width: 30rem;
  width: 95%;
  max-width: 500px;

  display: flex;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 2rem;

  -webkit-box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.35);
  box-shadow: 0px 0px 30px -15px rgba(0,0,0,0.35);

  .task-image {
    width: 30%;
    min-width: 8.5rem;
    height: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .task-content {
    width: 70%;
    padding: 1rem;
    position: relative;
    background: white;
    .task-text {
      font-weight: bold;
    }
    .category-icon {
      position: absolute;
      bottom: 12px;
      height: 22px;
      width: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
  }
}